<div class="wrapper header__wrapper">
  <input type="search" placeholder="Поиск" class="search">
  <div class="search-error none">такой игрушки нет</div>
    <ul class="navigation">
      <li class="navigation__link">
        <a class="navigation__link" href="#/">На главную</a>
      </li>
      <li class="navigation__link">
        <a class="navigation__link" href="#/toys">Игрушки</a>
      </li>
      <li class="navigation__link">
        <a class="navigation__link" href="#/tree">Ёлочка</a>
      </li>
    </ul>
</div>