html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Neucha', sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1720px;
}

.button {
  background-color: transparent;
  border: none;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  padding: 0;
}


.none {
  display: none;
}

.hidden {
  visibility: hidden;
}

/* main page */

.start-page {
  background-image: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 387px;
  padding-bottom: 155px;
  text-align: center;
}


.page-content {
  display: flex;
  gap: 20px;
}

.toys {
  width: 73%;
  display: flex;
  gap: 36px;
  justify-content: flex-start;
  flex-wrap: wrap;
}
/* main page */

/* settings styles */
.setting__favorite-toys {
  margin-bottom: 42px;
}

.favorite-toy__text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-top: 19px;
}

.favorite-toy__error {
  color: rgb(228, 215, 30);
}

.settings__title {
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
}

.settings__sort {
  display: flex;
  gap: 24px;
  margin-bottom: 42px;
}

.sortSelect {
  width: 178px;
  height: 30px;
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(157, 243, 255, 0.2) 100%);
  backdrop-filter: blur(31px);
  border: none;
  border-radius: 30px;
  color: #fff;
}

 option{
  background:  rgba(157, 243, 255, 0.3) ;
  color: black;
}

.settings__caption {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 16px;
}

.settings__shapes {
  display: flex;
  gap: 37px;
  justify-content: space-between;
  margin-bottom: 42px;
}

.shape-ball {
  display: block;
  width: 42px;
  height: 42px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  transition: 0.5s;
  text-align: center;
}

.shape-image {
  width: 42px;
  height: 42px;
}

.shape-text {
  padding-top: 10px;
}

.shape-ball:hover .shape-image, .shape-ball:hover .shape-text {
 filter: invert(58%) sepia(10%) saturate(1186%) hue-rotate(356deg) brightness(92%) contrast(82%);
}

.shape-active.shape-ball {
  filter: invert(58%) sepia(10%) saturate(1186%) hue-rotate(356deg) brightness(92%) contrast(82%);
}

.settings__amount, .settings__year {
  background: linear-gradient(to right, #24C5DB 0%, #24C5DB 0%, #C4C4C4 0%, #C4C4C4 100%);
  border-radius: 1px;
  height: 2px;
  width: 350px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.settings__amount::-webkit-slider-thumb, .settings__year::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), radial-gradient(57.23% 248.2% at 107.17% 104.02%, rgba(34, 153, 235, 0.92) 0%, rgba(34, 153, 235, 0.07) 100%), radial-gradient(104.22% 230.94% at -4.22% 0%, #24C5DB 3.62%, rgba(36, 197, 219, 0.26) 55.1%);
}

.amount-text, .year-text {
  display: flex;
  width: 350px;
  justify-content: space-between;
  margin-top: 5px;
  padding-bottom: 24px;
}

.color-active {
  background: url(./assets/svg/checkmark.svg);
  background-repeat: no-repeat;
  background-position: center;
}


.color-button {
  width: 24px;
  height: 24px;
  border-radius: 5px;
}

.settings__color {
  display: flex;
  gap: 26px;
  margin-bottom: 34px;
}

.white {
  background-color: #fff;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}
.settings__size {
  display: flex;
  gap: 24px;
  margin-bottom: 43px;
}

.size-checkbox {
  width: 20px;
  height: 20px;
  border: none;
}

.settings__favorite {
  margin-bottom: 23px;
}

.reset-buttons {
  display: flex;
  gap: 15px;
}

.button-reset {
  display: block;
  width: 178px;
  height: 28px;
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(157, 243, 255, 0.2) 100%);
  backdrop-filter: blur(31px);
  border-radius: 30px;
}

.error-toys {
  margin: 0 auto;
  margin-top: 7rem;
  font-size: 40px;
}
