<div class="tree-wrapper tree-page">
  <section class="tree-settings">
    <div class="tree-settings__icon">
      <button class="button-volume icon"></button>
      <button class="button-snow icon"></button>
    </div>
    <h2 class="tree__caption">Выберите  Ёлку</h2>
    <div class="trees">
      <div class="tree tree-one" data-tree="1"></div>
      <div class="tree tree-two" data-tree="6"></div>
      <div class="tree tree-three" data-tree="5"></div>
      <div class="tree tree-four" data-tree="4"></div>
    </div>
    <h2 class="tree__caption">Выберите фон</h2>
    <div class="background-container">
      <div class="background background-one" data-background="1"></div>
      <div class="background background-two" data-background="2"></div>
      <div class="background background-three" data-background="3"></div>
      <div class="background background-four" data-background="4"></div>
      <div class="background background-five" data-background="5"></div>
      <div class="background background-six" data-background="6"></div>
      <div class="background background-seven" data-background="7"></div>
      <div class="background background-eight" data-background="8"></div>
    </div>
    <h2 class="tree__caption">Гирлянда</h2>
    <div class="garland-container">
      <label class="garland__item">
        <input type="radio" data-garland="yellow" name="garland" class="radio-garland garland-yellow">
        <span class="garland__checkmark checkmark-yellow"></span>
      </label>
      <label class="garland__item">
        <input  data-garland="red" type="radio" name="garland" class="radio-garland garland-red">
        <span class="garland__checkmark checkmark-red"></span>
      </label>
      <label class="garland__item">
        <input  data-garland="blue" type="radio" name="garland"
        class="radio-garland garland-blue">
        <span class="garland__checkmark checkmark-blue"></span>
      </label>
      <label class="garland__item">
        <input  data-garland="multicolored" type="radio" name="garland" class="radio-garland garland-multicolor">
        <span class="garland__checkmark checkmark-multicolor"></span>
      </label>
    </div>
    <label class="switch">
      <input type="checkbox" class="switch-garland">
      <span class="slider round"></span>
    </label>
    <div class="trees-buttons">
      <button type="button" class="tree-button save-button">Сохранить</button>
      <button type="button" class="tree-button reset-button">Сбросить</button>
    </div>
  </section>
  <section class="tree-section">
    <div class="snowFlakeContainer hidden"></div>
    <div class="garland-tree-container">
      <div class="garland-tree" id="garland-tree1"></div>
      <div class="garland-tree" id="garland-tree2"></div>
      <div class="garland-tree" id="garland-tree3"></div>
    </div>
    <map name="tree-map">
      <area data-target="true" coords="259,4,291,36,325,116,345,152,367,190,357,216,389,242,399,270,403,306,419,346,443,378,431,410,429,444,455,462,463,506,497,580,479,614,481,644,449,686,365,710,267,713,153,710,75,694,29,664,5,620,25,558,29,520,55,468,55,442,83,386,59,362,89,328,101,282,131,240,127,202,153,192,151,144,179,132"  shape="poly" class="droppable">
</map>
    </map>
    <img src="../../../assets/tree/1.png" usemap="#tree-map" alt="christmas tree" class="main-tree">
  </section>
  <section class="toys-section">
    <h2 class="tree__caption">Игрушки</h2>
    <div class="toys-container">
  </section>
</div>